/* body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
  }
  .game-board {
  }
  .game-info {
  } */
  
  * {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
  }
  
  body {
    background-color: #935d8c;
    background-image: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  }
  
  body {
    background-color: #935d8c;
    color: rgba(255, 255, 255, 0.65);
  }
  
  body, input, select, textarea {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 17pt;
    font-weight: 300;
    line-height: 1.65;
  }